$grid-width: 8.33%;
$border-color: grey;
$grid-background: #f1f1f1;
$header-background: #9933cc;
$footer-background: #0099cc;
$column-background: #ffffff;
$content-background: #33b5e5;
$black-border: #000000;
